<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="CollectaMundo" Manufacturer="Claus Petersen" Version="1.0.0.0" UpgradeCode="8bf68e08-8279-4ba0-b9e8-83da785b2203">
	  <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	  <MediaTemplate EmbedCab="yes" />
	  <Launch Condition="MsiNTProductType = 1" Message="Your system is is not ready for the full glory of CollectaMundo" />

    <Feature Id="Main">
      <ComponentGroupRef Id="CollectaMundoComponents" />
    </Feature>
  </Package>
</Wix>
